:root {
    --primary-color: #0069D2;
    --primary-color-hover: #015FBD;
    --light-gray: #f1f3f3;
    --light-gray2: #e5e5e5;
    --light-gray3: #F5F7F7;
    --dark-blue: #1F263E;
    --color-green: #00B946;
    --color-red: #FF1923;
    --color-gray: #B9BCBF;
}

body {
    font-family: "Graphik", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", '微軟正黑體', "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
}

a, a:link, a.link {
    color: var(--primary-color);
}
a:hover{
    color:#00D7FF;
}
::placeholder{
    color:var(--color-gray);
}
.cursor-pointer{
    cursor: pointer;
}
.text-danger{
    color: var(--color-red);
}
.blue-text{
    color: var(--primary-color);
}
.delete-file{
    text-decoration: underline;
    font-weight: 500;
    color: #212529;
    cursor: pointer;
    margin-left: 10px;
}
.mask{
    position: fixed;
    z-index: 1030;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,.5);
    display: none;
}
.mask>div{
    width: 100%;
    height: 100%;
}
.delete-confirm-modal{
    width: 400px;
    height: 450px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0,0,0,.15);
    padding: 57px 40px 40px;
}
.confirm-words{
    font-weight: bold;
    font-size:32px;
    padding: 40px 0;
}
.btn {
    border-radius: 30px;
    font-size: 14px;
    padding: 6px 24px;
    font-weight: 600;
}
.btn.btn-lg{
    font-size: 18px;
    height: 48px;
}
.btn.btn-small{
    height: 30px;
    padding: 3px 24px;
}
.btn.btn-red{
    background: var(--color-red);
    color:#fff;
}
.btn.btn-gray{
    background: var(--color-gray);
    color:#fff;
}
.btn:hover{
    color:#fff;
}
.ui-state-highlight{
    height: 1.5em;
    line-height: 1.2em;
    background: #fff !important;
    box-shadow: 0 8px 8px rgba(0,0,0,.1);
    text-shadow: none;
    border: 1px solid #dee2e6 !important;
    color: #323237 !important;
}
.btn-primary, a.btn-primary:link {
    background: var(--primary-color);
}
.btn-primary:hover{
    color:#fff;
    background: var(--primary-color-hover);
}
.btn-outline-primary{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: #fff;
}
.btn-outline-primary:hover{
    background: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}
.table-striped > tbody > tr:nth-of-type(2n){
    background: rgba(241,243,243, .2);
}
.table-striped > tbody > tr:nth-of-type(2n+1){
    background: rgba(241,243,243, .5);
}
.table > :not(caption) > * > *{
    padding: 7px 20px;
}
.download-table.table > :not(caption) > * > *{
    padding: 11px 20px 12px;
}
.table th{
    font-size: 12px;
    font-weight: 500;
}
.svg-icon{
    width: 26px;
    height: 26px;
}
.mr-16{
    margin-right: 16px;
}
.icon-20{
    width: 20px;
    height: 20px;
}
.icon-16{
    width: 16px;
    height: 16px;
}
.list-icon{
    width: 24px;
    height: 24px;
    color: #323237;
}
.list-icon:hover{
    color: var(--primary-color);
}
.login-msg{
    line-height: 28px;
    font-size: 12px;
    color: var(--color-red);
}
.login-panel .form-control.error-input{
    border: 2px solid var(--color-red) !important;
}

.partner-form .form-control.error-input{
    border: 2px solid var(--color-red);
}

.checkbox input[type="checkbox"] {
    display:none;
}
.checkbox input[type="checkbox"] + span {
    display:inline-block;
    /*width:20px;*/
    height:20px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../images/icon-checkbox2.svg) left top no-repeat;
    cursor:pointer;
    padding-left: 26px;
}
th .checkbox input[type="checkbox"] + span{
    background:url(../images/icon-checkbox-header.svg) left top no-repeat;
}
.checkbox input[type="checkbox"]:checked + span {
    background:url(../images/icon-checkbox-checked.svg) left top no-repeat;
}

.radio input[type="radio"] {
    display:none;
}
.radio input[type="radio"] + span {
    display:inline-block;
    /*width:20px;*/
    height:20px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../images/icon-radio.svg) left top no-repeat;
    cursor:pointer;
    padding-left: 26px;
}
.radio input[type="radio"]:checked + span {
    background:url(../images/icon-radio-checked.svg) left top no-repeat;
}
.login-bg {
    /*background: rgb(235, 235, 235);*/
    background: linear-gradient(0deg, rgba(0, 105, 210, 0.7), rgba(0, 105, 210, 0.7)), url("../images/bg-large.jpg") center center no-repeat;
    background-size: auto, cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1440px){
    .login-bg{
        background: linear-gradient(0deg, rgba(0, 105, 210, 0.7), rgba(0, 105, 210, 0.7)), url("../images/bg-m.jpg") center center no-repeat;
        background-size: auto, cover;

    }
}
.login-header{
    padding: 10px 0;
    background: #fff;
}
.login-header img{
    height: 40px;
    width: 104px;
}
.login-sub {
    margin: 0px 0 32px;
}
.login-sub img{
    height: 60px;
    width: 298px;
}

.login-panel {
    width: 560px;
    margin: 0 auto 32px;
    background: #fff;
    padding: 36px 80px 32px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    font-size: 14px;
}
.login-panel h1{
    font-size: 32px;
    margin-bottom: 40px;
}
.login-panel h2{
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 600;
}
.login-panel .form-control{
    border: 2px solid var(--color-gray);
    height: 48px;
}
.form-label {
    font-weight: 500;
}
.login-panel .form-label{
    font-weight: 600;
    margin-bottom: 2px;
}
.login-input {
    margin-bottom: 30px;
}
.input-panel{
    /*width: 308px;*/
}
.form-control, .form-select{
    border: 1px solid var(--light-gray);
    border-radius: 0;
    font-size: 14px;
    height: 36px;
}
.form-select{
    padding-left: 4px;
}
.form-control:focus, .form-select:focus{
    border-color: rgb(50, 50, 55);
    box-shadow: 0 0 0 1px rgb(50, 50, 55);
    outline: none;
    box-shadow: none !important;
}
.login-input .form-control:focus, .login-input .form-select:focus{
    border: 2px solid var(--color-gray);
}
.login-input .form-control:focus{
    box-shadow: none;
}
.form-select{
    background-image: url("../images/icon-sort-arrow.svg");
    background-size: 24px 24px;
    background-position: right 2px center;
}
textarea.form-control{
    resize: none;
    height: 208px;
}
.login-input a {
    right: 0;
}

.login-sepline {
    background: var(--light-gray);
    height: 1px;
    margin: 24px 0;
}
.partner{
    font-size: 19px;
}
.login-bottom{
    font-size: 13px;
    color:#fff;
}
.login-bottom a{
    color: #fff;
}
.sign-in-btn{
    margin-bottom: 24px;
}
.main-aside{
    background: var(--dark-blue);
    position: fixed;
    width: 223px;
    left:0;
    top:0;
    bottom:0;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard-logo{
    /*text-align: center;*/
    padding: 28px 15px;
}
.dashboard-logo img.dashboard-title-top{
    /*height: 24px;*/
    width: 167px;
}
.side-menu-title{
    color:rgba(255,255,255,.3);
    padding: 10px 15px;
}
.side-menu li a{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color:#fff;
    padding: 10px 15px;
}
.side-menu li a:hover, .side-menu li.active a{
    background: #363c52;
}
.submenu{
    max-height: 0;
    overflow: hidden;
    transition: .4s;
}
.submenu.active{
    max-height: 80px;
}
.submenu li a{
    padding-left: 24px;
}

.submenu-admin{
    max-height: 0;
    overflow: hidden;
    transition: .4s;
}
.submenu-admin.active{
    max-height: 80px;
}
.submenu-admin li a{
    padding-left: 24px;
}
.control-panel{
    padding-left: 230px;
    min-width: 600px;
}
.page-top{
    font-size: 18px;
    font-weight: bold;
    /*text-align: center;*/
    padding: 16px 40px;
    border-bottom: 1px solid var(--light-gray2);
}
.page-top a{
    text-decoration: none;
    color:#000;
    font-size: 14px;
}
.page-top a:link{
    color:#000;
    margin-right: 30px;
}
.user-content{
    background: var(--light-gray);
    border-radius: 8px;
    padding: 8px 10px;
}
.user-name{
    font-size: 16px;
    font-weight: 500;
}
.user-account{
    right: 40px;
    top:20px;
    font-size: 14px;
    font-weight: 500;
}
.user-account .user-type{
    font-size: 12px;
    font-weight: normal;
    color: #7C8C8F;
}
.return-download{
    right: 80px;
    top:20px;
    font-size: 12px;
}

.dashboard-title{
    /*background: var(--light-gray);*/
    padding: 28px 20px 16px;
}
.dashboard-title h1{
    font-size: 32px;
    font-weight: 600;
    margin:0;
}
.dashboard-title h1 span{
    color: var(--color-gray);
}
.dashboard-title a{
    right: 40px;
    top:17px;
}
.main-content{
    padding: 20px 0px 60px 0px;
    margin: 0 auto;
    max-width: 600px;
}
.main-content.list-content{
    padding: 20px 40px 60px 20px;
    max-width: none;
}
.main-content h2{
    font-size: 16px;
    margin-bottom:20px;
    padding: 22px 0;
    height: 64px;
}
.main-content .table a{
    text-decoration: none;
}
.dashboard-select>div{
    margin-right: 10px;
    width: 168px;
}
.dashboard-select .form-label{
    font-size: 12px;
    font-weight: 500;
}
.dashboard-select .form-control{
    width: 160px;
}
.search-input .form-control{
    padding-left: 40px;
    width: 328px;
}
.search-input img{
    left: 10px;
    width: 20px;
    top:8px;
}
.light-area{
    background: var(--light-gray3);
    padding: 7px 10px;
}
.dashboard-panel{
    margin-bottom: 20px;
    border: 1px solid var(--light-gray);
    padding: 15px;
}
.dashboard-panel .form-label{
    font-size: 12px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c4c4c4;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    top: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00B946;
}

input:focus + .slider {
    /*box-shadow: 0 0 1px #2196F3;*/
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.table tbody{
    color: #323237;
    vertical-align: middle;
}
.status-circle{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right:8px;
    display: none;
}
.status{
    font-weight: normal;
    padding: 0px 8px;
    border-radius: 4px;
    font-size: 11px;
    display: inline-block;
    width: 60px;
    text-align: center;
    line-height: 18px;
}
.status.member-status{
    width: 72px;
}
.status-public{
    background: var(--color-green);
}
.status-text-public{
    color: var(--color-green);
    border: 1px solid var(--color-green);
}
.status-draft{
    background: var(--color-gray);
}
.status-text-draft{
    color: var(--color-gray);
    border: 1px solid var(--color-gray);
}
.status-banned{
    background: var(--color-red);
}
.status-text-banned{
    color: var(--color-red);
    border: 1px solid var(--color-red);
}
.pages{
    position: fixed;
    right:0;
    bottom:0;
    left: 230px;
    background: #fff;
    color:#000 !important;
    padding: 10px 20px 30px;
    font-weight: 500;
    font-size: 16px;
}
.pages input[type="text"]{
    width: 45px;
    border: 1px solid var(--color-gray);
    border-radius: 2px;
    height: 20px;
    margin-left:20px;
    padding:2px 10px;
    text-align: right;
}
.page-arrow{
    margin:0 30px;
    height: 16px;
}
.page-item{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin:0 5px;
    font-size: 12px;
    text-align: center;
}
a.page-item{
    color: var(--color-gray);
    text-decoration:  none;
    text-align: center;
    cursor: pointer;
}
.page-item:hover{
    color:#323237;
}
.page-item.active{
    font-weight: 500;
    color:#323237;
}
.checked-action{
    display: none;
    position: fixed;
    bottom:17px;
    right: 30px;
    left: 250px;
    padding: 7px 20px;
    background: var(--dark-blue);
    z-index: 10;
    border-radius: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.checked-action .form-control{
    width: 200px;
}
.control-btns{
    position: fixed;
    left: 223px;
    background: var(--light-gray);
    right:0;
    bottom:0px;
    padding: 10px 20px;
}
.control-btns .btn{
    margin-right: 16px;
}
.btn-right{
    position: absolute;
    right:0;
    bottom:10px;
}
.control-btns .btn-outline-primary, .main-content .btn-outline-primary{
    border: 2px solid #323237;
    color: #000;
}
.control-btns .btn-outline-primary:hover, .main-content .btn-outline-primary:hover{
    color: #fff;
    background: #323237;
}
.warn-area{
    background: rgba(251,231,91,0.7);
    padding: 10px 20px;
    margin: 0 -40px 10px -20px;
}
.control-header{
    padding: 48px 0;
}
.control-title{
    /*font-size: 32px;*/
    /*font-weight: 600;*/
    padding-left: 32px;
    margin-left: 32px;
    /*border-left: 2px solid #000;*/
    position: relative;
    top:-2px;
    height: 40px;
}
.control-title img{
    width: 204px;
    height: 40px;
}
.control-title::after{
    content: "";
    position: absolute;
    display: block;
    left:0;
    top: 0px;
    bottom: 0px;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    width: 2px;
    background: #000;
    /*height: 40px;*/
}
.control-logo{
    height: 32px;
    width: 104px;
}
.control-right{
    font-size: 18px;
    font-weight: 500;
}
.control-right a{
    color:#323237;
    text-decoration: none;
    margin-left:40px;
}
.control-subtitle{
    font-weight: 600;
    font-size: 14px;
    color: #323237;
    /*padding: 16px;*/
    padding: 0 0 2px 0;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--light-gray);
}
.control-subtitle.no-border{
    border: none;
    margin-bottom: 2px;
}
.control-side-list li{
    cursor: default;
    font-size: 16px;
    padding: 12px 16px;
    position:relative;
    margin-bottom: 8px;
    border-radius: 4px;
}
.control-side-list li.active{
    background: var(--light-gray);
}
.control-side-list li.active::after{
    display: block;
    content: url("../images/icon-check2.svg");
    position:absolute;
    right:16px;
    top:12px;
}
.control-search{
    border: 2px solid var(--color-gray);
    margin-bottom: 54px;
    height: 48px;
}
.control-search .form-control{
    border: none;
    height: 100%;
}
.download-aside{
    padding-right: 45px;
}
.table>:not(caption)>*>*{
    background: none;
}
.table-sorting{
    width: 12px;
}
.control-thead{
    border-bottom: 2px solid var(--light-gray);
}
.control-pages{
    padding: 50px 0;
    font-weight:500;
    font-size: 16px;
}
.control-pages svg{
    margin: 0 10px;
}
.control-page-arrow{
    color: #d6d6d7;
}
a:hover .control-page-arrow{
    color:#000;
}
.control-table tbody tr:hover, .control-table tbody tr.checked{
    background: var(--light-gray);
}
.control-table tbody tr td:first-child{
    border-top-left-radius: 4px;
}
.tablesorter-bootstrap .tablesorter-header-inner{
    padding: 4px 30px 4px 0px !important;
}
.tablesorter-bootstrap .table-check .tablesorter-header-inner{
    padding: 4px 0px 4px 0px !important;
}
.download-table.tablesorter-bootstrap thead th.table-check{
    padding-right: 0 !important;
    width: 30px !important;
}
.download-table.control-table tbody tr td:first-child{
    padding-right: 0;
}
.download-table .checkbox input[type="checkbox"] + span{
    margin-right: 0;
}
.download-icons{
    display: flex;
    justify-content: flex-end;
}
.download-action{
    background: #fff;
    padding:30px 36px;
    border: 2px solid var(--light-gray);
    right: calc( (100vw - 1296px) / 2 - 8px);
    width: calc(1300px * 3 / 4 - 8px);
    bottom: 30px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    display: none;
    /*transform: translateX(-50%);*/
    cursor: pointer;
}
@media screen and (max-width:1400px){
    .download-action{
        /*width: 1140px;*/
        right: calc( (100vw - 1116px) / 2 - 8px);
        width: calc(1116px * 3 / 4 - 5px);
    }
}
@media screen and (max-width:1200px){
    .download-action{
        /*width: 1140px;*/
        right: calc( (100vw - 960px) / 2 - 36px);
        width: calc(960px * 3 / 4 + 17px);
    }
}
@media screen and (max-width:992px){
    .download-action{
        right: calc( (100vw - 960px) / 2 - 36px);
        width: calc(960px * 3 / 4 - 8px);
    }
}
@media screen and (max-width:768px){
    .download-action{
        width: calc(720px * 3 / 4 - 8px);
    }
}
@media screen and (max-width:576px){
    .download-action{
        width: 90%;
    }
}
.download-action b{
    color: var(--primary-color)
}
.download-action a{
    text-decoration: none;
}
.account-request h1{
    font-size: 32px;
    margin-bottom: 40px;
}
.account-request .form-control{
    border: 2px solid var(--color-gray);
}
.terms{
    padding: 24px 0 40px;
}
.terms a{
    cursor: pointer;
}
.myDragClass {
    background-color: #ffff00;
    font-size: 14pt;
}

.drag-gray-style
{
    border: 1px solid #f1f3f3;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
}
.alert-msg{
    width: 300px;
    padding: 20px 40px 20px 20px;
    border-radius: 8px;
    background: #fff;
    left: 32px;
    bottom: 32px;
    z-index: 1050;
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,.04);
}
.alert-close{
    right: -20px;
    top: 0px;
    cursor: pointer;
}
.alert-content{
    min-height: 20px;
}
.alert-con-info{
    color: #0074FF;
}
.alert-con-danger{
    color: var(--color-red);
}
.download-table{
    font-size: 16px;
}
.tablesorter-bootstrap tfoot td, .tablesorter-bootstrap tfoot th, .tablesorter-bootstrap thead td, .tablesorter-bootstrap thead th{
    padding: 7px 20px !important;
    font-weight: 500 !important;
}
.download-table.tablesorter-bootstrap thead th{
    padding: 15px 20px 16px !important;
}
.tablesorter-bootstrap thead .tablesorter-headerUnSorted:not(.sorter-false){
    /*background-image: url("../images/icon-sort-arrow.svg") !important;*/
    background: none !important;
}

.tablesorter-bootstrap thead .tablesorter-headerAsc{
    /*background: none !important;*/
    background: url("../images/icon-sort-arrow.svg") right center no-repeat;
    background-size: 24px 24px;
    background: none !important;
}
.tablesorter-bootstrap thead .tablesorter-headerDesc{
    background-image: url("../images/icon-sort-arrow.svg") !important;
    /*background: url("../images/icon-sort-arrow.svg") right center no-repeat;*/
    background: none !important;
    background-size: 24px 24px;
}
.tablesorter-bootstrap thead .tablesorter-header-inner{
    background: url("../images/icon-sort-arrow.svg") right center no-repeat;
    /*display: inline-block;*/
}
.download-table.tablesorter-bootstrap thead .tablesorter-header-inner, .tablesorter-bootstrap.download-table thead .tablesorter-headerAsc .tablesorter-header-inner{
    background: none;
}
.tablesorter-bootstrap thead .tablesorter-headerDesc{
    /*background-size: 24px 24px;*/
}
.tablesorter-bootstrap thead .tablesorter-headerAsc .tablesorter-header-inner{
    background: url("../images/icon-sort-arrow-up.svg") right center no-repeat;
}
.download-table.tablesorter-bootstrap thead .tablesorter-headerAsc .tablesorter-header-inner{
    display: inline-block;
}
.download-table.tablesorter-bootstrap thead .tablesorter-headerUnSorted:not(.sorter-false), .download-table.tablesorter-bootstrap thead .tablesorter-headerAsc,.download-table.tablesorter-bootstrap thead .tablesorter-headerDesc{
    background-image: none !important;
    font-size: 16px;
}
.download-table.tablesorter-bootstrap thead .tablesorter-headerAsc img{
    transform: rotate(180deg);
}
.table_content.tablesorter-bootstrap thead .tablesorter-headerAsc img{
    transform: rotate(180deg);
}
.tablesorter-bootstrap:not(.table-dark) tfoot td, .tablesorter-bootstrap:not(.table-dark) tfoot th, .tablesorter-bootstrap:not(.table-dark) thead:not(.thead-dark) .tablesorter-header{
    background-color: #fff !important;
}
.download-table.tablesorter-bootstrap .sorter-false .tablesorter-header-inner{
    padding: 0;
}
.tablesorter-bootstrap .sorter-false .tablesorter-header-inner{
    background: none;
}
th.tablesorter-header.tablesorter-headerAsc, th.tablesorter-header.tablesorter-headerDesc{
    color: var(--primary-color);
}
.div_empty {
    font-weight: bold;
    font-size:x-large;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    outline: none;
    box-shadow: none !important;
}
.btn-check:focus+.btn, .btn:focus {
    outline: none;
    box-shadow: none;
}
