<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2fa</title>
</head>
<body>
<div style="font-family: Arial, Helvetica, sans-serif">
    <div style="background: #fff; text-align: center; padding: 40px 0;">
        <img style="height: 27px" src="https://i.imgur.com/fXk0LSF.png" alt="">
    </div>
    <div style="background: #f9f9f9; padding: 60px 0;">
        <div style="max-width: 520px; margin: 0 auto; line-height: 24px">
            Hi {{name}},<br>
            <br>
            You recently requested to reset your password for your Digital Brand Hub account. Use the button below to reset it. This password reset link is only valid for the next 24 hours.
            <div style="padding: 40px 0;">
                <a style="display:inline-block; background: #0069d2; font-weight: 600; color:#fff; letter-spacing: 0.84px; padding: 10px 40px; border-radius: 40px; text-decoration: none" href="">RESET YOUR PASSWORD</a>
            </div>
            If you have not tried to login, please ignore this mail or<br>
            <a style="color: #0069d2" href="">contact support</a> if you have questions.<br>
            <br>
            Thanks<br>
            The Gogoro Brand & Image Team
        </div>


    </div>
    <div style="background: #fff; padding: 40px 0; text-align: center">
        <img style="height: 22px" src="https://i.imgur.com/dWSJKhU.png" alt="">
        <div style="font-size: 12px; color: #b9bcbf; padding-top: 20px">Copyright © 2014-2021 Gogoro Inc.</div>
    </div>
</div>
</body>
</html>
