<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<div style="font-family: Arial, Helvetica, sans-serif">
    <div style="background: #fff; text-align: center; padding: 40px 0;">
        <img style="height: 27px" src="https://i.imgur.com/fXk0LSF.png" alt="">
    </div>
    <div style="background: #f9f9f9; padding: 60px 0;">
        <div style="max-width: 520px; margin: 0 auto; line-height: 24px">
            Hi {{name}},<br>
            <br>
            Thank you for registering to become our partner.<br>
            <br>
            We will need to take a few days to process your request, after verify your information successfully, we will
            send you a confirmation notification to get you onboard.<br>
            <br>
            Thank you for the interest to become our partner.<br>
            <br>
            If you have not tried to login, please ignore this mail or<br>
            <a style="color: #0069d2" href="">contact support</a> if you have questions.<br>
            <br>
            Thanks<br>
            The Gogoro Brand & Image Team
        </div>

    </div>
    <div style="background: #fff; padding: 40px 0; text-align: center">
        <img style="height: 22px" src="https://i.imgur.com/dWSJKhU.png" alt="">
        <div style="font-size: 12px; color: #b9bcbf; padding-top: 20px">Copyright © 2014-2021 Gogoro Inc.</div>
    </div>
</div>
</body>
</html>
